#board {
  width: 1000px;
  margin: 0 auto;
}

.square {
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  height: 100px;
  width: 100px;
}

.square:nth-of-type(1),
.square:nth-of-type(2),
.square:nth-of-type(3),
.square:nth-of-type(4),
.square:nth-of-type(5),
.square:nth-of-type(6),
.square:nth-of-type(7),
.square:nth-of-type(8),
.square:nth-of-type(9),
.square:nth-of-type(10),
.square:nth-of-type(11) {
  top: 1000px;

}

.square:nth-of-type(12),
.square:nth-of-type(13),
.square:nth-of-type(14),
.square:nth-of-type(15),
.square:nth-of-type(16),
.square:nth-of-type(17),
.square:nth-of-type(18),
.square:nth-of-type(19),
.square:nth-of-type(20),
.square:nth-of-type(21) {
  left: 100px;
}

.square:nth-of-type(22),
.square:nth-of-type(23),
.square:nth-of-type(24),
.square:nth-of-type(25),
.square:nth-of-type(26),
.square:nth-of-type(27),
.square:nth-of-type(28),
.square:nth-of-type(29),
.square:nth-of-type(30),
.square:nth-of-type(31),
.square:nth-of-type(32),
.square:nth-of-type(33) {
  top: 0px;
}




