#board {
  width: 1000px;
  margin: 0 auto;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
}

i {
  display: block;
  position: relative;
  box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.45);
}

i:before {
  content: '';
  display: block;
  height: 50%;
}

i:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.45);
}

i.house {
  background-color: rgb(62,163,99);
  width: 80px;
  height: 50px;
}

i.house:before {
  background-color: rgb(36,109,63);
  background-image: linear-gradient(rgb(36,109,63), rgb(52,143,89));
}

i.house:after {
  height: 15px;
  width: 15px;
  background-color: rgb(62,163,99);
}

i.hotel {
  background-color: rgb(245,76,72);
  width: 100px;
  height: 60px;
}

i.hotel:before {
  background-color: rgb(188,43,46);
  background-image: linear-gradient(rgb(188,43,46), rgb(232,53,69));
}

i.hotel:after {
  height: 20px;
  width: 20px;
  background-color: rgb(245,76,72);
}